@model Pessoa

@{
    ViewData["Title"] = "Sucesso";
}

@section Head
{
    <style>
        .endereco {
            margin: 20px 0 10px 0;
        }
    </style>
}

<div class="text-center">
    <h2>Resultados</h2>
</div>

<h4>
    Dados
    <hr />
</h4>

<b>Nome:</b> @Model.Nome
<br />
<b>Sobrenome:</b> @Model.Sobrenome
<br />
<b>Idade:</b> @Model.Idade
<br />

<hr />

@for (int i = 0; i < Model.Enderecos.Count; i++)
{
    var endereco = Model.Enderecos[i];

    <div class="endereco">
        <b>Endereco @(i + 1)</b>
        <hr />

        <b>Cep:</b> @endereco.Cep
        <br />
        <b>Logradouro:</b> @endereco.Logradouro
        <br />
        <b>Complemento:</b> @endereco.Complemento
        <br />
        <b>Bairro:</b> @endereco.Bairro
        <br />
        <b>Cidade:</b> @endereco.Cidade
        <br />
        <b>Estado:</b> @endereco.Estado
        
        <hr />

    </div>
}